DEBUG=True
DATABASE_URL=postgres://user:password@db.example.com:5432/production_db?sslmode=require
SECRET_KEY='django-insecure-@unt9qf7!&dkceqj9h$)_2!wi)j12+7)p77h+*b!ajfoq%lw2v'
API_KEY='alphaventage key here'